@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-auth-green {
        background-color: #00a884;
    }
    .bg-auth-grey {
        background-color: #0c1317;
    }
    .bg-auth-input {
        background-color: #2a3942;
    }
    .bg-green-theme {
        background-color: #00a884;
    }
    .border-auth-green {
        border-color: #00a884;
    }
    .text-auth-green {
        color: #00a884;
    }
}

html,
body,
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}
