@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}
